footer
    .footer
        .footer-wrapper
            .block-1
                .logo
                    img(src=require('../assets/img/Logo.png') alt='toxin-hotel')
                p
                    | Бронирование номеров в лучшем
                    | отеле 2019 года по версии
                    | ассоциации «Отельные взгляды»
            .block-2
                b Навигация
                ul
                    li
                        a(href='#') О нас
                    li
                        a(href='#') Новости
                    li
                        a(href='#') Служба поддержки
                    li
                        a(href='#') Услуги
            .block-3
                b О нас
                ul
                    li
                        a(href='#') О сервисе
                    li
                        a(href='#') Наша команда
                    li
                        a(href='#') Вакансии
                    li
                        a(href='#') Инвесторы
            .block-4
                b Служба поддержки
                ul
                    li
                        a(href='#') Соглашения
                    li
                        a(href='#') Сообщества
                    li
                        a(href='#') Связь с нами
            .block-5
                b Подписка
                p
                    | Получайте специальные
                    | предложения и новости сервиса
                .field-email
                    label
                        input.field-input(placeholder='Email')
        .hr-block
            div
                p Copyright c 2018 Toxin отель. Все права защищены.
            .website-icons
                div
                    img(src=require('../assets/img/twitter.png') alt='twitter')
                div
                    img(src=require('../assets/img/facebook.png') alt='facebook')
                div
                    img(src=require('../assets/img/instagram.png') alt='instagram')