header
    .header
        .logo
            img(src=require('../assets/img/Logo.png') alt='toxin-hotel')
        .header-blocks
            nav
                ul.nav-list
                    li
                        a.header-element(href='#') О нас
                    li
                        a.header-element.dropdown-toggle(href='#') Услуги
                    li
                        a.header-element(href='#') Вакансии
                    li
                        a.header-element(href='#') Новости
                    li
                        a.header-element.dropdown-toggle(href='#') Соглашения
            .a
            .header-buttons
                .btn.login-btn
                    a.login(href='#') Войти
                .btn.register-btn
                    a.register(href='#') Зарегистрироваться